.banner {
  position: relative;
}

.banner__image {
  width: 100%;
  background-image: url("../../assets/banner.png");
  background-size: cover;
  padding: 75pt 0;
  background-position: center;
}

.banner__content {
  padding-left: 195px;
  padding-right: 195px;
}

.banner__card {
  box-shadow: 0 0.1rem 0.4rem 0 rgb(0 0 0 / 5%),
    0 0.2rem 0.8rem 0.3rem rgb(0 0 0 / 3%),
    0 0.2rem 1.6rem 0.6rem rgb(0 0 0 / 5%);
  background-color: #fff;
  width: 450px;
  padding: 1.5rem 1.5rem 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transform: none;
}

.banner__card h1 {
  color: #2c2c2c;
  margin-bottom: 0.5rem;
  font-size: 42px;
  line-height: 1.2;
}

.banner__card span {
  padding-bottom: 1.5rem;
  font-size: 18px;
  line-height: 1.5;
}

.banner__card button {
  margin-bottom: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--light-blue);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
  .banner__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 980px) {
  .banner {
    height: 50vh;
  }

  .banner__image {
    padding: 0;
    padding-bottom: 42.8571428571%;
  }

  .banner__card {
    width: 100%;
  }

  .banner__card button {
    width: 25%;
  }

  .banner__content {
    position: absolute;
    margin-top: 38%;
  }
}

@media screen and (max-width: 576px) {
  .banner__card h1 {
    font-size: 35px;
  }

  .banner__card span {
    font-size: 15px;
  }

  .banner__card button {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  .banner__card button {
    width: 100%;
  }
}

@media screen and (max-width: 338px) {
  .banner__card h1 {
    font-size: 30px;
  }

  .banner__card span {
    font-size: 13px;
  }
}
